.content__newpost{
    display: flex;
    grid-area: newpost;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 15px;

}
.content__post{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    width: 50%;
}
.text{
    grid-area: text;
    padding-left: 20px;
    width: 75%;
}
.content__post img{
    grid-area: image;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    object-fit: cover;
}
.like{
    grid-area: like;
    color: #0b6289;
    cursor: pointer;
    text-align: end;
}
.like:hover{
    color: red;
}