.content{
    grid-area: c;
    width: 100%;
}
.content__items{
    display: grid;
    grid-template-areas:
            "cov cov"
            "avatar info  ";
    grid-template-rows: 100px;
    grid-template-columns: 1fr 2fr;
}
.content__cover{
    grid-area: cov;
}
.content__cover  img{
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100px;
}
.content__avatar{
    grid-area: avatar;
    padding: 30px 50px 25px 90px;
}
.content__avatar img{
    border-radius: 5px;
    object-fit: cover;
    width: 200px;
    height: 250px;
}
.content__info{
    grid-area: info;
}
.content__infoabout{
    padding-top: 18px;
}
