.content__myposts{
    grid-area: mypost;
    display: grid;
    justify-items: center;
    width: 100%;
}
.content__text{
    font-size: 20px;
    color: #e90000;
    padding-bottom: 10px;
    text-align: center;
}

.content__textarea{
    padding-bottom: 10px;
    width: 50%;
}
.content__area{
    color: #0b6289;
    width: 100%;
    height: 50px;
}
.content__button{
    padding-bottom: 10px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
