.nav {
    grid-area: n;
    padding-top: 20px;
    font-size: 20px;
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(6, 40px) 100px;
    grid-template-columns: 200px;
}

.nav:hover {
    border-right: 3px inset #991199;
    padding-left: 3px;
}

.nav__link {
    padding-left: 60px;
    cursor: pointer;
}

.nav__link a{
    text-decoration: none;
    color: black;
}
.nav__link a.active{
    color: #e90000;
}
.nav__link:hover {
    background: #991199;
    border-radius: 5px;
}
.friend{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}
