.nav{
    grid-area: n;
    padding-top: 20px;
    font-size: 20px;
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(5, 40px);
    grid-template-columns: 200px;
}
.nav:hover{
    border-right: 3px inset #991199;
    padding-left: 3px;
}
.nav__link{
    padding-left: 60px;
    cursor: pointer;
}
.a:active, /* активная/посещенная ссылка */
.a:hover,  /* при наведении */
.a {
    text-decoration: none;
    color: black;
}

.nav__link:hover{
    background: #991199;
    border-radius: 5px  ;
}