.nav{
    grid-area: n;
    padding-top: 40px;
    font-size: 20px;
    background-color: #edeef0;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(5, 40px);
    grid-template-columns: 200px;
}

.nav__link{
    padding-left: 70px;
    cursor: pointer;
    color: #e51837;
}
.nav__link.active{
    color: black;
}
.nav__link:hover{
    background: #abc8d2;
    border-radius: 5px  ;
}